body {
    background: #f4f6f9;
    font-family: 'Sarabun', sans-serif;
}

.main-content {
    flex: 1;
    padding: 30px;
    background: #f4f6f9;
}


.layout-wrapper {
    min-height: 100vh;
    margin-left: 250px;
}
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


h2 {
    margin-bottom: 5px;
}

.subtitle {
    color: #777;
    margin-bottom: 20px;
}

/* KPI */
.kpi-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.kpi-card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

.kpi-card span {
    font-size: 14px;
    color: #666;
}

.kpi-card h3 {
    margin-top: 8px;
    font-size: 28px;
}

/* สี */
.success { border-left: 6px solid #27ae60; }
.warning { border-left: 6px solid #f39c12; }
.danger  { border-left: 6px solid #c0392b; }

/* TABLE */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

th {
    background: #f8f9fa;
}

.badge {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}

.badge.online { background: #27ae60; }
.badge.offline { background: #c0392b; }

@media(max-width:992px){
    .main-content {
        margin-left: 0;
    }
}
@media (max-width: 992px) {
    .layout-wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        min-height: auto;
    }
}
